<div class="p-2 my-5 mx-auto print:px-0 bg-gray-50 rounded-md">

  <div class="flex items-center pr-5">

    <div class="w-64 text-center">
      <h2 class="text-center text-xl font-bold mb-5">韩彪</h2>
      <div>
        18112891269
      </div>
      <div>
        hanbiao4079@qq.com
      </div>
    </div>

    <div class="flex-1 py-3">
        <h4 class="font-bold text-base border-b-2 border-gray-200">求职意向</h4>
        <span class="text-gray-500 text-sm">前端开发工程师/常州/随时到岗</span>
        <h4 class="mt-3 font-bold text-base border-b-2 border-gray-200">教育背景</h4>
        <span class="text-gray-500 text-sm">2013.09-2017.07/蚌埠医学院/信息管理与信息系统/本科</span>
        <h4 class="mt-3 font-bold text-base border-b-2 border-gray-200">专业技能</h4>
        <p class="text-gray-500 text-sm my-1" *ngFor="let ability of resume.ability">{{ability}}</p>
    </div>
  </div>


  <div class="mt-5 px-5">
    <h4 class="font-bold text-base border-b-2 border-gray-200">工作经历</h4>
    <div class="my-4 border-b pb-4 last:border-none" *ngFor="let work of resume.work_undergoing">
      <div class="text-sm my-1">
        <span class="mr-4 text-gray-500">{{work.time}}</span>
        <span class="text-gray-800">{{work.company}}</span>
        <span class="text-gray-700 ml-2 text-xs">前端工程师</span>
      </div>
      <p class="text-sm text-gray-800">
        {{work.content}}
      </p>
    </div>
  </div>

  <div class="mt-5 px-5">
    <h4 class="font-bold text-base border-b-2 border-gray-200">项目经验</h4>

    <div class="my-4 border-b pb-4" *ngFor="let project of resume.projects">
      <h5 class="font-bold text-gray-700 text-base mb-2 flex items-center">
        <a class="mr-1 text-blue-500" target="_blank" [href]="project?.docmentUrl || project.address">{{project.title}}</a> <span class="text-xs text-gray-600 sr-only print:not-sr-only">{{project?.docmentUrl || project.address}}</span>
        <svg *ngIf="project?.docmentUrl || project.address" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-box-arrow-up-right print:sr-only" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
          <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
        </svg>
      </h5>
      <span class="text-sm text-gray-600 mr-5">{{project.source}}</span>
      <span class="text-xs text-gray-600">{{project.time}}</span>
      <p class="my-2 text-sm text-gray-600">简介: {{project.synopsis}}</p>
      <p class="my-2 text-sm text-gray-600 leading-5">工作内容: {{project.content}}</p>
      <p class="my-2 text-sm text-gray-600">技术：{{project.technology}}</p>
    </div>

    <div class="h-0 print:h-28"></div>
    <h4 class="font-bold text-base border-b-2 border-gray-200 sr-only print:not-sr-only">项目经验</h4>
    <div class="my-4 border-b pb-4" *ngFor="let project of resume.projects1">
      <h5 class="font-bold text-gray-700 text-base mb-2 flex items-center cursor-pointer">
        <a class="mr-1 text-blue-500" target="_blank" [href]="project?.docmentUrl || project.address">{{project.title}}</a> <span class="text-xs text-gray-600 sr-only print:not-sr-only">{{project?.docmentUrl || project.address}}</span>
        <svg *ngIf="project?.docmentUrl || project.address" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-box-arrow-up-right print:sr-only" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
          <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
        </svg>
      </h5>
      <span class="text-sm text-gray-600 mr-5">{{project.source}}</span>
      <span class="text-xs text-gray-600">{{project.time}}</span>
      <p class="my-2 text-sm text-gray-600">简介: {{project.synopsis}}</p>
      <p class="my-2 text-sm text-gray-600 leading-5">工作内容: {{project.content}}</p>
      <p class="my-2 text-sm text-gray-600">技术：{{project.technology}}</p>
    </div>

  </div>

  <div class="mt-5 text-gray-400 tetx-sm">
    简历线上地址(包含部分线上项目地址):https://hnbio.github.io/resume/
  </div>

</div>
